
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


// App

#app {
	padding-top: 20px;
	.igpost-grid {
		padding: 5px;
		.cell {
			border: 1px dotted $mediumGray;
			background-color: $lightGray;
			padding: 10px;
			font-size: 12px;
				.ig-image {
				margin-bottom: 5px;
				img {
					width: 100%;
				}
			}

			.comments {
				text-align: right;
			}
		}
	}

	.copy {
		padding: 5px 10px;
		font-size: 11px;

		h1,h2,h3,h4,h5 {
			margin-bottom: 5px;
		}

		p {
			margin-bottom: 10px;
		}
	}

	.associated-tags {
		.tag {
			font-size: 12px;
			padding: 5px 10px;
			white-space: nowrap;
  			overflow: hidden;
  			z-index: 300;

  			a {
  				color: $indigo;
  			}

			.pct-bar {
				z-index: -5;
				margin-top: -20px;
				margin-left: -5px;
				position: relative;
				background-color: $mediumGray;
				height: 20px;
			}

			.pct-bar-back {
				z-index: -15;
				margin-top: -20px;
				margin-left: -5px;
				position: relative;
				background-color: $lightGray;
				height: 20px;
				border: 1px dotted $mediumGray;
			}
		}

		.tag-cell {
			padding: 10px;
			.tag {
				background-color: $lightGray;
				border: 1px dotted $mediumGray;
			}

			.stats {
				font-size:8px;
				margin: 5px 0;
				.bar-container {
					padding: 0 2px;
				}
				.stats-bar {
					padding-left: 3px;
				}
				.count {
					margin: 0;
					padding: 0;
					color: $red;
					border: 1px solid lighten($red, 20%);
					.stats-bar {
						background-color: lighten($red, 40%);
					}
				}

				.likes {
					margin: 0;
					padding: 0;
					color: $green;
					border: 1px solid lighten($green, 20%);
					.stats-bar {
						background-color: lighten($green, 40%);
					}
				}

				.comments {
					margin: 0;
					padding: 0;
					color: $blue;
					border: 1px solid lighten($blue, 20%);
					.stats-bar {
						background-color: lighten($blue, 40%);
					}
				}
			}

		}
	}
}

#splash {
	background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;

	.content {
        text-align: center;
    }

	.splash-title {
		font-size: 84px;
	}
	.full-height {
        height: 100vh;
    }

    .flex-center {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .position-ref {
        position: relative;
    }
}