// Variables
@import 'variables';


.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.pure-g {
	display: flex;
	margin: auto;
	max-width: 1280px;
	h1, h2, h3, h4, h5 {
		margin-top: 0;
		padding-top: 0;
	}
}

header {
	background-color: $lightGray;
	position: fixed;
	z-index: 500;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	padding: 0 4.1667%;

	.pure-menu-heading {
		padding-left: 0;
	}

	.subhead {
		font-size: 11px;
		color: $mediumGray;
	}
}

main {
	margin-top: 60px;
	padding: 10px 4.1667%;
	background-color: #FFFFFF; 
	a, a:visited {
		color: $cyan;
	}

	a:hover {
		color: $blue;
	}
}

footer {
	background-color: $mediumGray;
	width: 100%;
	margin-top: 20px;
	padding: 10px 4.1667%;
	color: #FFF;

	a, a:visited {
		color: $lightGray;
	}

	a:hover {
		color: $blue;
	}

	.legal {
		font-size: 12px;
	}
}


// break this out
