.navbar-laravel {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.pure-g {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  max-width: 1280px;
}

.pure-g h1,
.pure-g h2,
.pure-g h3,
.pure-g h4,
.pure-g h5 {
  margin-top: 0;
  padding-top: 0;
}

header {
  background-color: #f8fafc;
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 0 4.1667%;
}

header .pure-menu-heading {
  padding-left: 0;
}

header .subhead {
  font-size: 11px;
  color: #c8cacb;
}

main {
  margin-top: 60px;
  padding: 10px 4.1667%;
  background-color: #FFFFFF;
}

main a,
main a:visited {
  color: #6cb2eb;
}

main a:hover {
  color: #3490dc;
}

footer {
  background-color: #c8cacb;
  width: 100%;
  margin-top: 20px;
  padding: 10px 4.1667%;
  color: #FFF;
}

footer a,
footer a:visited {
  color: #f8fafc;
}

footer a:hover {
  color: #3490dc;
}

footer .legal {
  font-size: 12px;
}

